.sidebar {
  min-width: 320px;
  max-width: 320px;
  background: #ffffff;
  margin-left: -320px;
  transition: all 0.5s;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
}

.sidebar-header {
  display: flex;
  /* background: #ffffff; */
  color: #6D6D6D;
  padding: 1.333rem;
  align-items: center;
}

.sidebar-header .sidebar-brand .sidebar-brand-title {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
}

/* .sidebar-header .sidebar-brand .sidebar-brand-desc {
  font-weight: lighter;
} */

.sidebar-header .sidebar-logo {
  margin-right: .5rem;
  height: 2.75rem;
}

.sidebar-header>.close-button {
  position: relative;
  display: none;
  margin-left: auto;
  color: #6D6D6D;
  font-size: 1.5rem;
}

.nav-title {
  font-weight: bold !important;
  font-size: 0.8rem !important;
  display: block;
  margin-top: 1rem;
  margin-bottom: .25rem;
}

.nav-title .description {
  font-size: 0.75rem !important;
}

.nav-link {
  display: flex !important;
  align-items: center;
  color: #6D6D6D !important;
  padding-top: .75rem !important;
  padding-bottom: .75rem !important;
  --bs-nav-link-font-size: .95rem;
}

.nav-link .title {
  flex: 1;
}

.nav-link.active {
  color: #4491FF !important;
}

.nav-link:hover {
  color: #4491FF !important;
  transition: .2s;
}

.nav-link .svg-inline--fa {
  color: inherit;
}

.accordion-button {
  background: none !important;
  padding: 0 !important;
  display: block !important;
}

.accordion-button::after {
  background: none !important;
}


@media only screen and (max-width: 575.98px) {
  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }

  .sidebar.is-open .sidebar-header>button {
    display: block !important;
  }
}